<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Cron Config Tool</title>
  </head>
    <div class="container">
  <body>
      {% block content %}{% endblock %}
  </body>
  <footer>
  <!-- github fork -->
  <iframe src="http://ghbtns.com/github-btn.html?user=ThaWeatherman&repo=cron_app&type=fork&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

  <!-- github follow -->
  <iframe src="http://ghbtns.com/github-btn.html?user=ThaWeatherman&type=follow&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>

  <!-- twitter follow -->
  <a href="https://twitter.com/seanmckaybeck" class="twitter-follow-button" data-show-count="false">Follow @seanmckaybeck</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</footer>
    </div>
</html>
